
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Netflix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
        integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
        crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <style>
        /* CSS VARIABLES */
        :root {
            --primary: #141414;
            --light: #F3F3F3;
            --dark: #686868;
        }

        html,
        body {
            width: 100vw;
            min-height: 100vh;
            margin: 0;
            background-color: var(--primary);
            color: var(--light);
            font-family: Arial, Helvetica, sans-serif;
            box-sizing: border-box;
            overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto;   
            line-height: 1.4;
        }

        img {
            max-width: 100%;
        }

        h1 {
            padding-top: 60px;
        }

        .wrapper {
            margin: 0;
            padding: 0;
        }

        /* HEADER */
        header {
            padding: 20px 20px 9.5px 20px;
            position: fixed;
            top: 0;
            display: grid;
            z-index: 1;
            grid-gap: 5px;
            grid-template-columns: 1fr 4fr 1fr;
            grid-template-areas:
                "nt mn mn sb . . . ";
            background-color: var(--primary);
            width: 100%;
            margin-bottom: 0px;
        }

        .netflixLogo {
            grid-area: nt;
            object-fit: cover;
            width: 100px;
            max-height: 100%;

            padding-left: 30px;
            padding-top: 0px;
        }

        .netflixLogo img {
            height: 35px;
        }

        #logo {
            color: #E50914;
            margin: 0;
            padding: 0;
        }


        .main-nav {
            grid-area: mn;
            padding: 0 30px 0 20px;
            justify-content: center;
            display: flex;
        }

        .main-nav a {
            color: var(--light);
            text-decoration: none;
            margin: 5px;
        }

        .main-nav a:hover {
            color: var(--dark);
        }

        .sub-nav {
            grid-area: sb;
            padding: 0 40px 0 40px;
        }

        .sub-nav a {
            color: var(--light);
            text-decoration: none;
            margin: 5px;
        }

        .sub-nav a:hover {
            color: var(--dark);
        }


        /* MAIN CONTIANER */
        .main-container {
            padding: 50px;
            padding-top: 0 !important;
        }

        .box {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(6, minmax(100px, 1fr));
        }

        .box a {
            transition: transform .3s;
        }

        .box a:hover {
            transition: transform .3s;
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }

        .box img {
            border-radius: 2px;
        }

        /* LINKS */
        .link {
            padding: 50px;
        }

        .sub-links ul {
            list-style: none;
            padding: 0;
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(4, 1fr);
        }

        .sub-links a {
            color: var(--dark);
            text-decoration: none;
        }

        .sub-links a:hover {
            color: var(--dark);
            text-decoration: underline;
        }

        .logos a {
            padding: 10px;
        }

        .logo {
            color: var(--dark);
        }


        /* FOOTER */
        footer {
            padding: 20px;
            text-align: center;
            color: var(--dark);
            margin: 10px;
        }

        /* MEDIA QUERIES */

        @media(max-width: 900px) {

            header {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas:
                    "nt nt nt  .  .  . sb . . . "
                    "mn mn mn mn mn mn  mn mn mn mn";
            }

            .box {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(4, minmax(100px, 1fr));
            }

        }

        @media(max-width: 700px) {

            header {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas:
                    "nt nt nt  .  .  . sb . . . "
                    "mn mn mn mn mn mn  mn mn mn mn";
            }

            .box {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(3, minmax(100px, 1fr));
            }

            .sub-links ul {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(3, 1fr);
            }

        }

        @media(max-width: 500px) {

            .wrapper {
                font-size: 15px;
            }

            header {
                margin: 0;
                padding: 20px 0 0 0;
                position: static;
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(1, 1fr);
                grid-template-areas:
                    "nt"
                    "mn"
                    "sb";
                text-align: center;
            }

            .netflixLogo {
                max-width: 100%;
                margin: auto;
                padding-right: 20px;
            }

            .main-nav {
                display: grid;
                grid-gap: 0px;
                grid-template-columns: repeat(1, 1fr);
                text-align: center;
            }

            h1 {
                text-align: center;
                font-size: 18px;
            }



            .box {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(1, 1fr);
                text-align: center;
            }

            .box a:hover {
                transition: transform .3s;
                -ms-transform: scale(1);
                -webkit-transform: scale(1);
                transform: scale(1.2);
            }

            .logos {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
            }

            .sub-links ul {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(1, 1fr);
                text-align: center;
                font-size: 15px;
            }



    }

    .b-slider {
        background-image: url('https://www.criticfilm.com/wp-content/uploads/2023/12/bollywood-vs-hollywood.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 60px 0;
    }

    .card {
        background: rgb(30 27 27 / 91%); /* Semi-transparent card */
        border-radius: 10px;
        width: 30%;
        color: white;
        margin-top: 50px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        border-radius: 10px 10px 0 0;
        padding: 20px;
    }
    .card-body{
        padding: 20px;
    }
    .form-label {
        font-weight: bold;
    }

    .form-control {
        border-radius: 8px;
        padding: 15px;
    }

    .btn-custom {
        background-color: #ff6f61;
        border: none;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 0;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .btn-custom:hover {
        background-color: #ff4d3a;
    }

    .btn-dark {
        background-color: #343a40;
        border-radius: 5px;
    }

    .btn-dark:hover {
        background-color: #23272b;
    }
    
    h3{
        color: white;
    }
    </style>
</head>

<body>
    <div class="wrapper">

        <!-- HEADER -->
        <header>
            <div class="netflixLogo">
                <a id="logo" href="#home"><img
                        src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/logo.PNG?raw=true"
                        alt="Logo Image"></a>
            </div>
            <nav class="main-nav">
                <a href="/">Home</a>&nbsp;&nbsp;&nbsp;
                <a href="#">TV Shows</a>&nbsp;&nbsp;&nbsp;
                <a href="#movies">Movies</a>&nbsp;&nbsp;&nbsp;
                
                <a href="/act/add" class="sign-in">Book Now</a>&nbsp;&nbsp;&nbsp;
                <a href="/act">Show Movies</a>&nbsp;&nbsp;&nbsp;
            </nav>
            <nav class="sub-nav">
                <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
                <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
                <a href="#">Account</a>
            </nav>
        </header>
        <!-- END OF HEADER -->


        <section class="b-slider">
            <div class="card  shadow-lg mx-auto mt-5 p-3">
                
                   
                   <div class="card-header text-center">
                    <h3>Edit Movie Ticket</h3> 
                </div>
                    <div class="card-body">
                        <form action="/act/updatedata" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="editId" value="<%= singleRow.id %>">
            
                            <div class="mb-4">
                                <label class="form-label">Name :-</label>
                                <input type="text" name="name" class="form-control" placeholder="Enter movie name" value="<%= singleRow?.name %>" required>
                            </div>
            
                            <div class="mb-4">
                                <label class="form-label">Description :-</label>
                                <textarea name="description" class="form-control" placeholder="Enter movie description" rows="3" required><%= singleRow?.description %></textarea>
                            </div>
            
                            <div class="mb-4">
                                <label class="form-label">Price :-</label>
                                <input type="number" name="price" class="form-control" placeholder="Enter price" value="<%= singleRow?.price %>" min="0" step="0.01" required>
                            </div>
            
                            <div class="mb-4">
                                <label class="form-label">Image :-</label>
                                <input type="file" name="file" class="form-control">
                                <div class="mt-3">
                                    <img src="/<%= singleRow?.image %>" width="100" alt="Movie Image">
                                </div>
                            </div>
            
                            <div class="d-grid">
                                <button type="submit" class="btn btn-custom">Submit</button>
                            </div>
                        </form>
                    </div>
            
                    <div class="card-footer text center mx-auto">
                        <a href="/" class="btn btn-secondary">View Movies</a>
                    </div>
                
            </div>
        </section>
        

      
        <!-- MAIN CONTAINER -->
        <section class="main-container">
            <div class="location" id="home">
                <h1 id="home">Popular on Netflix</h1>
                <div class="box">
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p2.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p3.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p4.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p5.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p6.PNG?raw=true"
                            alt=""></a>

                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p7.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p8.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p9.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p10.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p11.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p12.PNG?raw=true"
                            alt=""></a>
                </div>
            </div>


            <h1 id="myList">Trending Now</h1>
            <div class="box">
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t1.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t2.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t3.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t4.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t5.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t6.PNG?raw=true"
                        alt=""></a>
            </div>

            <h1 id="tvShows">TV Shows</h1>
            <div class="box">
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv1.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv2.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv3.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv4.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv5.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv6.PNG?raw=true"
                        alt=""></a>

                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv7.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv8.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv9.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv10.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv11.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv12.PNG?raw=true"
                        alt=""></a>
            </div>


            <h1 id="movies">Blockbuster Action & Adventure</h1>
            <div class="box">
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m1.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m2.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m3.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m4.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m5.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m6.PNG?raw=true"
                        alt=""></a>
            </div>

            <h1 id="originals">Netflix Originals</h1>
            <div class="box">
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o1.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o2.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o3.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o4.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o5.PNG?raw=true"
                        alt=""></a>
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o6.PNG?raw=true"
                        alt=""></a>
            </div>

            <!-- END OF MAIN CONTAINER -->

            <!-- LINKS -->
            <section class="link">
                <div class="logos">
                    <a href="#"><i class="fab fa-facebook-square fa-2x logo"></i></a>
                    <a href="#"><i class="fab fa-instagram fa-2x logo"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
                    <a href="#"><i class="fab fa-youtube fa-2x logo"></i></a>
                </div>
                <div class="sub-links">
                    <ul>
                        <li><a href="#">Audio and Subtitles</a></li>
                        <li><a href="#">Audio Description</a></li>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Gift Cards</a></li>
                        <li><a href="#">Media Center</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Legal Notices</a></li>
                        <li><a href="#">Corporate Information</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </section>
            <!-- END OF LINKS -->

            <!-- FOOTER -->
            <footer>
                <p>&copy 1997-2018 Netflix, Inc.</p>
                <p>Carlos Avila &copy 2018</p>
            </footer>
    
    
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>    </div>
</body>

</html>





   

        .card {
            width: 100%;
            max-width: 600px;
            border: none;
            border-radius: 15px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .card-header {
            background: linear-gradient(90deg, #ff7f50, #ff6f61);
            color: white;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            padding: 20px;
        }

        .btn-custom {
            background: #ff6f61;
            color: white;
            border: none;
            transition: all 0.3s;
            border-radius: 5px;
            font-size: 16px;
        }

        .btn-custom:hover {
            background: #ff9980;
            color: white;
        }

        .form-label {
            font-weight: bold;
        }

        .form-control {
            border-radius: 10px;
            border: 1px solid #ced4da;
        }

        .form-control:focus {
            border-color: #ff6f61;
            box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, 0.25);
        }

        .card-footer {
            background: #f1f1f1;
            text-align: center;
            padding: 15px;
        }

        img {
            border-radius: 10px;
        }

        .d-grid button {
            padding: 10px;
        }
    </style>
</head> 

<body>
    <div class="card">
        <div class="card-header">
            Edit Movie Ticket
        </div>
        
            <div class="card-body">
                <form action="/act/updatedata" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="editId" value="<%= singleRow.id %>">
    
                    <div class="mb-4">
                        <label class="form-label">Name :-</label>
                        <input type="text" name="name" class="form-control" placeholder="Enter movie name" value="<%= singleRow?.name %>" required>
                    </div>
    
                    <div class="mb-4">
                        <label class="form-label">Description :-</label>
                        <textarea name="description" class="form-control" placeholder="Enter movie description" rows="3" required><%= singleRow?.description %></textarea>
                    </div>
    
                    <div class="mb-4">
                        <label class="form-label">Price :-</label>
                        <input type="number" name="price" class="form-control" placeholder="Enter price" value="<%= singleRow?.price %>" min="0" step="0.01" required>
                    </div>
    
                    <div class="mb-4">
                        <label class="form-label">Image :-</label>
                        <input type="file" name="file" class="form-control">
                        <div class="mt-3">
                            <img src="/<%= singleRow?.image %>" width="100" alt="Movie Image">
                        </div>
                    </div>
    
                    <div class="d-grid">
                        <button type="submit" class="btn btn-custom">Submit</button>
                    </div>
                </form>
            </div>
    
            <div class="card-footer">
                <a href="/act" class="btn btn-secondary">View Movies</a>
            </div>
        
    </div>

   
</body>

</html>