<%- include('../header') %>
</nav>

<div class="d-flex mt-5 ms-5 mb-5">
    <div class="col-sm-12 col-xl-6">
        <% if(locals.message?.success) {%>
            <div class="alert alert-success w-50 ">
                <%= locals.message?.success %>
            </div>
                <% } %>
        <div class="bg-secondary rounded h-100 p-4">
            <h4 align="center" style="font-weight: 500; letter-spacing: 0.19rem; " class="mb-4 "> Sub_Category  Table</h4>
            <table class="table">       
                <thead>
                    <tr>
                        <th scope="col">Srno</th>
                        <th scope="col">Category</th>
                        <th scope="col">Sub_Category</th>
                        <th scope="col">Action</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>

                    <% subcategory.forEach((val,index)=>{ %>
                        <tr>
                            <th scope="row">
                                <%= ++index %>
                            </th>
                            <td>
                                <%= val?.categoryId?.category %>
                            </td>
                            <td>
                                <%= val?.subcategory %>
                            </td>
                            <td>
                                <a href="/subcategory/deletesubcategory?id=<%= val?.id%>" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                <a href="/subcategory/editsubcategory?id=<%= val?.id%>" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
                            </td>
                            <td>
                                <% if(val?.status === "active" ) { %>
                                    <a href="/subcategory/changestatus?id=<%= val?.id %>&status=deactive" class="btn btn-success btn-sm">
                                        <%= val?.status %>
                                    </a>
                                <% } else { %>
                                    <a  href="/subcategory/changestatus?id=<%= val?.id %>&status=active" class="btn btn-warning btn-sm">
                                        <%= val?.status %>
                                    </a>    
                                    <% } %>
                            </td>
                        </tr>
                        <% }) %>
                           
                </tbody>
            </table>
        </div>
        
    </div>
</div>
    <%- include('../footer') %>