<%- include('../header') %>
    <!-- Content Start -->
    <!-- Form Start -->
    <div class="container-fluid pt-4 px-4 pb-5 MT-5">
        <div class="row g-4 pb-5">
            <div class="col-sm-12 col-xl-6  mx-auto mt-5">
                <% if(locals.message?.success) {%>
                    <div class="alert alert-success" role="alert">
                        <%= locals.message?.success %>
                    </div>
                    <% } %>
                        <div class="bg-secondary rounded h-100 p-4 ">
                            <h4 align="center" style="font-weight: 500; letter-spacing: 0.19rem; " class="mb-4 ">Add
                                Product</h4>
                            <form method="post" action="/product/insertproduct" enctype="multipart/form-data" onsubmit="return validateForm()">
                                <div class="mb-3">
                                    <label for="fname" class="col-sm-3 text-right control-label col-form-label">
                                        Category</label>
                                    <div class="col-md-12">
                                        <select name="category" onchange="categoryChange()" id="category"class="form-control">
                                            <option>---select category---</option>
                                            <% category.map((val)=>{ %>
                                                <option value="<%= val?.id %>">
                                                    <%= val?.category %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Sub_Category Name</label>
                                    <div class="col-sm-12">
                                        <select name="subcategory" id="subcategory" class="form-control"
                                            onchange="subcategoryChange()">
                                            <option>---select subcategory---</option>
                                       
                                        </select>
                                    </div>

                                </div>
                                <div class="mb-3">
                                    <label for="fname"
                                        class="col-sm-3 text-right control-label col-form-label">Exsubcategory</label>
                                    <div class="col-sm-12">
                                        <select id="exsubcategory" name="exsubcategory"
                                            class="form-control">
                                            <option>---select exsubcategory---</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="fname"
                                        class="col-sm-3 text-right control-label col-form-label">Product</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="product" name="name"
                                            placeholder="Enter product Name...!">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="fname"
                                        class="col-sm-3 text-right control-label col-form-label">Price</label>
                                    <div class="col-sm-12">
                                        <input type="number" id="price" class="form-control" name="price"
                                            placeholder="Enter product price...!">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="fname"
                                        class="col-sm-3 text-right control-label col-form-label">Qty</label>
                                    <div class="col-sm-12">
                                        <input type="numbert" id="qty" class="form-control" name="qty"
                                            placeholder="Enter product Quantity...!">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="fname"
                                        class="col-sm-3 text-right control-label col-form-label">Image</label>
                                    <div class="col-sm-12">
                                        <input type="file" class="form-control" name="image">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
            </div>

        </div>
    </div>
    <!-- Form End -->

    <!--Ajax start-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript">
        const categoryChange = () => {
            let categoryid = document.getElementById('category').value;
            $.ajax({
                method: 'GET',
                url: `/exsubcategory/ajaxcategorywiserecord?categoryid=${categoryid}`,
                success: function (res) {
                    if (res.success) {
                        let tbl = "";
                        tbl += `<option value="">---select subcategory---</option>`
                        let category = res.category;
                        category.map((val) => {
                            tbl += `
                                        <option value=${val?._id}>${val?.subcategory}</option>
                                    `
                        })
                        document.getElementById('subcategory').innerHTML = tbl;
                    }
                }
            })
        }
        const subcategoryChange = () => {
            let subcategoryid = document.getElementById('subcategory').value;
            $.ajax({
                method: 'GET',
                url: `/product/ajaxsub_categorywiserecord?subcategoryid=${subcategoryid}`,
                success: function (res) {
                    if (res.success) {
                        let tbl = ""
                        tbl += `<option value="">---select exsubcategory---</option>`
                        let subcategory = res.subcategory;
                        subcategory.map((val) => {
                            tbl += `
                            <option value=${val?._id}>${val?.exsubcategory}</option>
                            `;
                        })
                        document.getElementById('exsubcategory').innerHTML = tbl;
                    }
                }
            })
        }



    </script>

    <script>
         function validateForm() {
       
        var product = document.getElementById('product').value;
        var price = document.getElementById('price').value;
        var qty = document.getElementById('qty').value;

        if (product.trim() === "") {
            alert("Please enter product name.");
        }

        if (price.trim() === "") {
            alert("Please enter price.");
        }

        if (qty.trim() === "") {
            alert("Please enter quantity.");
            return false; 
        }

        return true;
    }
</script>

    <!--Ajax end-->
    <%- include('../footer') %>